<section class="slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div id="wowslider-container1">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper">
                            <div class="owl-item" tyle="width: 444px;">
                                <div class="item">
                                    <slideshow 
                                        [imageUrls]="imageUrls" 
                                        [height] = "'500px'"
                                        [autoPlay] = "true"
                                        [autoPlayInterval]= "3000"
                                        [stopAutoPlayOnSlide]= "true"
                                        [showDots]= "true"
                                    ></slideshow>
                                </div>
                            </div>  

                        </div>
                    </div>
                    
                    <div class="owl-controls clickable">
                    </div>
                </div>
                <section class="feature">
                    <ul>
                        <li>
                            <img src="../../../assets/assets/feature1.png" alt="Sản phẩm Chính hãng">
                            <p>Sản phẩm</p>
                            <h2>Chính hãng</h2>
                        </li>
                        <li>
                            <img src="../../../assets/assets/feature2.png" alt="Giao hàng Toàn quốc">
                            <p>Giao hàng</p>
                            <h2>Toàn quốc</h2>
                        </li>
                        <li>
                            <img src="../../../assets/assets/feature3.png" alt="Thanh toán Khi nhận hàng">
                            <p>Thanh toán</p>
                            <h2>Khi nhận hàng</h2>
                        </li>
                        <li>
                            <img src="../../../assets/assets/feature4.png" alt="Bảo hành Toàn quốc">
                            <p>Bảo hành</p>
                            <h2>Toàn quốc</h2>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6" *ngIf = "listBanner">
                        <a class="slider-banner-top" href="#">
                            <img class="img-responsive" src="../../../assets/assets/{{listBanner[0].ImagerHeader}}" alt="Banner 1">
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6" *ngIf = "listBanner">
                        <a class="slider-banner-bottom" href="#">
                            <img class="img-responsive" src="../../../assets/assets/{{listBanner[1].ImagerHeader}}" alt="Banner 2">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>