<div id="content">
    <header id="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                        <a href="/" class="logo">
                            <img src="../../assets/assets/logo.png?1493875157619" alt="Cookwave theme">
                        </a>
                        <a class="nav-main-button" href="javascript:void(0)">
                            <img src="../../assets/assets/nav-main-bars.png?1493875157619" alt="Danh mục">
                        </a>
                    </div>
                    <div class="col-lg-7 col-md-8 col-sm-6 col-xs-12">
                        <div class="header-right">
                            <div class="nav-account-cart">
                                <ul>
                                    <li class="nav-account">
                                        <a href="/account">
                                            <i class="fa fa-user"></i> Tài khoản </a>
                                        <span id="click_show">
                                            <i class="fa fa-angle-down"></i>
                                        </span>
                                        <ul id="account_show">

                                            <li>
                                                <a href="/account/login">Đăng nhập</a>
                                            </li>
                                            <li>
                                                <a href="/account/register">Đăng ký</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="nav-cart">
                                        <a href="/cart">
                                            <i class="fa fa-shopping-cart"></i> Giỏ hàng:
                                            <span>1</span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <div class="cart-mini">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-search hidden-xs">
                                <form method="get" action="/search">
                                    <input type="text" class="search-query" placeholder="Tìm kiếm sản phẩm" value="" name="query">
                                    <button type="submit" class="search-submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div class="header-hotline hidden-sm hidden-xs">
                            <span>
                                <i class="fa fa-phone"></i>
                            </span>
                            <p> Tư vấn hỗ trợ</p>
                            <h2>(04) 6674 2332 - (04) 3786 8904</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <nav class="nav-main">
                            <ul>

                                <li class="active">
                                    <a routerLink="home/index">Trang chủ</a>

                                </li>

                                <li>
                                    <a routerLink="home/introduce">Giới thiệu</a>

                                </li>

                                <li>
                                    <a [routerLink]="['home/product',1]">Sản phẩm</a>

                                    <ul class="nav-main-sub">

                                        <li *ngFor = "let item of listCategory">
                                            <a routerLink="/home/category/product/{{item.ID}}">{{item.NameCategory}}</a>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <a routerLink="home/news">Tin tức</a>

                                </li>

                                <li>
                                    <a routerLink="home/contact">Liên hệ</a>

                                </li>

                                <li style="border-top: #fff 1px solid;">
                                    <form method="get" action="/search">
                                        <input type="text" class="search-query" placeholder="Tìm kiếm sản phẩm" value="" name="query">
                                        <button type="submit" class="search-submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- content -->
    <router-outlet></router-outlet>
    <!-- content -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 hidden-sm hidden-xs">
                        <nav class="nav-footer">
                            <ul>

                                <li class="active">
                                    <a routerLink="home/index">Trang chủ</a>
                                </li>

                                <li>
                                    <a routerLink="home/introduce" >Giới thiệu</a>
                                </li>

                                <li>
                                    <a  [routerLink]="['home/product',1]" >Sản phẩm</a>
                                </li>

                                <li>
                                    <a routerLink="home/news" >Tin tức</a>
                                </li>

                                <li>
                                    <a routerLink="home/contact">Liên hệ</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <nav class="nav-social">
                            <ul>
                                <li>Kết nối với chúng tôi</li>
                                <li class="social-facebook">
                                    <a >
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="social-google">
                                    <a>
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="social-youtube">
                                    <a >
                                        <i class="fa fa-youtube "></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12 footer-about">

                        <img src="assets/assets/logo-footer.png?1493875157619" alt="Cookwave theme">


                        <ul>

                            <li>
                                <i class="fa fa-map-marker"></i>
                                <p>Tầng 4 - Tòa nhà Hanoi Group, 442 Đội Cấn, Ba Đình, Hà Nội</p>
                            </li>


                            <li>
                                <i class="fa fa-phone"></i>
                                <p>(84-4) 6655.8868</p>
                            </li>


                            <li>
                                <i class="fa fa-fax"></i>
                                <p>(84-4) 3786.8904</p>
                            </li>


                            <li>
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:support@bizweb.vn">support@bizweb.vn</a>
                            </li>

                        </ul>
                    </div>


                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 footer-menu">
                        <div class="heading-small">
                            <h3>Chính sách</h3>
                        </div>
                        <ul>

                            <li>
                                <a href="/chinh-sach">Chính sách thanh toán</a>
                            </li>

                            <li>
                                <a href="/chinh-sach">Chính sách vận chuyển</a>
                            </li>

                            <li>
                                <a href="/chinh-sach">Chính sách đổi trả</a>
                            </li>

                            <li>
                                <a href="/chinh-sach">Chính sách bảo hành</a>
                            </li>

                            <li>
                                <a href="/chinh-sach">Chính sách đối tác</a>
                            </li>

                        </ul>
                    </div>



                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 footer-menu">
                        <div class="heading-small">
                            <h3>Trợ giúp</h3>
                        </div>
                        <ul>

                            <li>
                                <a href="/huong-dan">Đổi trả và bảo hành</a>
                            </li>

                            <li>
                                <a href="/huong-dan">Đăng kí thành viên</a>
                            </li>

                            <li>
                                <a href="/huong-dan">Hướng dẫn mua hàng</a>
                            </li>

                            <li>
                                <a href="/huong-dan">Giao nhận và thanh toán</a>
                            </li>

                            <li>
                                <a href="/huong-dan">Đăng ký nhận khuyến mại</a>
                            </li>

                        </ul>
                    </div>



                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 footer-subcribe">
                        <div class="heading-small">
                            <h3>Đăng ký nhận bản tin</h3>
                        </div>
                        <p>Nhận những tin tức khuyến mại từ chúng tôi</p>
                        <div class="form-subcribe">
                            <form accept-charset='UTF-8' action='/contact' id='contact' method='post'>
                                <input name='FormType' type='hidden' value='contact' />
                                <input name='utf8' type='hidden' value='true' />
                                <input id="name" name="contact[Name]" type="text" value="Guest" class="form-control hidden">
                                <input type="text" class="form-control hidden" name="contact[phone]" value="NaN" placeholder="Phone number">
                                <textarea id="message" name="contact[Body]" class="form-control hidden" rows="7">Subcribe Email</textarea>
                                <div class="input-group" id="mail-box">
                                    <input id="email" class="subcribe-email form-control" name="contact[email]" type="email" value="" class="input_newsletter"
                                        placeholder="Email nhận tin">
                                </div>
                                <button type="submit" class="subcribe-submit">
                                    <span>Đăng ký</span>
                                </button>


                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <p>
                            © Bản quyền thuộc về Avent Team
                            <span class="hidden-xs">|</span>
                            <span class="line-down">Cung cấp bởi
                                <a href="https://www.bizweb.vn/?utm_source=site-khach-hang&utm_campaign=referral_bizweb&utm_medium=footer&utm_content=cung-cap-boi-bizweb"
                                    target="_blank" title="Bizweb">Bizweb</a>
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 hidden-xs">
                        <nav class="nav-payments">
                            <ul>
                                <li>Phương thức thanh toán:</li>
                                <li>
                                    <img src="assets/assets/payments.png?1493875157619" alt="Thanh toán">
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>